body{
    overflow-x: hidden;
}
.home-h2{ font-size: 3em; }
#map{
    display: block;
    width: 100%;
    height: 300px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.gm-style-iw{
    width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
}
#iw-container {
    display: block;
    width: 350px;
    padding: 5px;
}
.markerinfo {
    font-size: 1.0em;
    padding: 8px;
}
.markertitle {
     font-size: 1.4em;
     color: #2E9C4E;
     font-weight: bold;
 }
.markeraddress {
    text-align: center;
}
.markercta {
    color: white;
    background-color: #2E9C4E;
    font-weight: bold;
    padding: 2%;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.map-image-wrap{
    display: block;
    max-height: 300px;
    overflow:hidden;
}
.map-image{
    display: block;
    width: 100%;
    max-height: 300px;
}

// let's style the cards
.klussjes-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 40px;
    a{
        width: 100%;
        text-decoration: none;
        color: #677578;
        margin-bottom: 1em;
        &:hover{
            text-decoration: none;
        }
    }
}
.task-card{
    width: 100%;
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    position: relative;
    .task-image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 100%;
        height: 200px;
    }
    .task-details{
        padding-left: 1em;
        padding-right: 1em;
        position: relative;
        min-height: 100px;
        padding-bottom: 1em;
    }
    .task-title-time{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: .75em;
        width: 85%;
        .task-title{
            font-size: .9em;
            margin-right: .5em;
            text-transform: uppercase;
            max-width: calc(100% - 85px);
        }
        .task-time{
            margin-top: -.2em;
            color: $washington;
            width: 85px;
        }
    }
    .task-price{
        display: block;
        font-size: 1.5em;
        position: absolute;
        right: .75em;
        top: .1em;
        color: $washington;
    }
}

@media only screen and(min-width: 480px){
    .task-card .task-image{
        height: 250px;
    }
}

@media only screen and(min-width: 768px){
    #map{
        height: 300px;
    }
    .klussjes-wrap{
        justify-content: flex-start;
    }
    .klussjes-wrap a{
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .task-card .task-details{
        height: 125px;
    }
}

@media screen and (min-width: 1000px){
    #map{
        height: 600px;
    }
}

@media only screen and (min-width: 1365px){
    .klussjes-wrap a{
        width: 32%;
        margin-left: .66%;
        margin-right: .66%;
    }
    .task-card .task-image{
        height: 200px;
    }
    .task-card .task-title-time{
        .task-title{ width: calc(100% - 90px); }
        .task-time{ width: 90px; }
    }
}

@media only screen and (min-width: 1520px){
    .klussjes-wrap a{
        width: 23.5%;
        margin-left: .75%;
        margin-right: .75%;
    }
    .task-card .task-details{
        height: 150px;
    }
}
