body{
    overflow-x: hidden;
}

.card--title-black{
    color: black;
}

.home-h2{
    font-size: 3em;
}

.card-wrap{
    display: block;
    max-height: 650px;
}

.card--description{
    display: block;
    padding-top: 30px;
    margin-bottom: 25px;
}

.klussjes-wrap{
    display: block;
    height: auto;
    margin-bottom: 40px;
}

#map{
    display: block;
    width: 100%;
    height: 600px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.card{
    display: block;
    max-height: 600px;
    overflow:hidden;
}

.gm-style-iw{
    width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
}

#iw-container {
    display: block;
    width: 350px;
    padding: 5px;
}

.markerinfo {
    font-size: 1.0em;
    padding: 8px;
}

.markertitle {
     font-size: 1.4em;
     color: #2E9C4E;
     font-weight: bold;
 }

.markeraddress {
    text-align: center;
}

.markercta {
    color: white;
    background-color: #2E9C4E;
    font-weight: bold;
    padding: 2%;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-image-wrap{
    display: block;
    max-height: 200px;
    overflow: hidden;
}
.map-image-wrap{
    display: block;
    max-height: 300px;
    overflow:hidden;
}
.map-image{
    display: block;
    width: 100%;
    max-height: 300px;
}

@media screen and (min-width: 1000px){
    .card-wrap{
        display: block;
        height: 600px;
    }

    .card-image-wrap{
        display: block;
        max-height: 365px;
        overflow: hidden;
    }
}