.kluss--add{
    display: block;
    margin-top: 0px;
    padding-bottom: 80px;
}

.kluss--edit{
    display: block;
    margin-top: 60px;
}

.individual--image{
    width: 100%;
    display: block;
}
