#landing-body{
    background-image: url("../img/wasserette.jpg");
    display: block;
    width: 100%;
    background-size: cover;
}

.landing_container{
    display: block;
    padding-top: 100px;
}

.landing-image-map{
    display: block;
    width: 100%;
}

.landing_intro_map{
    display: block;
    margin-bottom: 30px;
}

.landing_intro_logo{
    display: block;
    width: 75%;
}

.landing_intro_ctas{
    display: block;
    margin-bottom: 180px;
}

.landing_cta{
    display: block;
    margin-bottom: 15px;
    max-width: 125px;
    float: left;
    margin-right: 7px;
}

.landing_cta:nth-child(2){
    max-width: 100px;
}

.landing_intro_welcometxt{
    color: white;
    font-size: 1.2em;
    line-height: 23px;
    margin-top: 25px;
}

.landing_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  background-color: #2e9c4e;
  z-index: 999;
}

.landing_footer_link {
  color: white;
}

.landing_footer_link:hover {
  color: greenyellow;
}

@media screen and (min-width: 1000px){
    .landing_intro_ctas{
        display: block;
        margin-bottom: 100px;
    }
}