.modals-box {
  width: 90%;
  margin: 30px auto;
}

.modals-close {
  opacity: 1;
}

.modals-close img {
  width: 50%;
}

.modals-close-cross {
  width: 50%;
  margin-left: auto;
}

.modals-header {
  padding-left: 30px;
  padding-right: 30px;
}

.modals-content {
  border-radius: 0px;
}

.modals-title {
  font-family: 'Coolvetica', sans-serif;
  margin-bottom: 30px;
  font-size: 1.6em;
  color: $washington;
}

.modals-text {
  font-family: 'Lato', Helvetica;
}

.modals-title_small {
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.2em;
  color: $washington;
}

.modals-body {
  padding-left: 30px;
  padding-right: 30px;
}

.modals-footer {
  padding: 15px;
  text-align: right;
}

.btn-sendreport{
  background-color: $washington;
  width: 50%;
  color: white;
  display: block;
  margin-left: auto;
  /*margin-right: auto;*/
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.4em;
  border: none;
  border-radius: 100px;
  padding: 1%;
}

.btn-modalcancel{
  background-color: $raspberry;
  width: 25%;
  color: white;
  display: block;
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.4em;
  border: none;
  border-radius: 100px;
  padding: 1%;
}

.modals-textbox {
  border: 2px dashed $washington;
  resize: none;
}

.modals-btn {
  background-color: $raspberry;
  width: auto;
  padding-left: .75em;
  padding-right: .75em;
  color: white;
  display: block;
  margin-left: auto;
  /*margin-right: auto;*/
  font-family: 'Coolvetica', sans-serif;
  font-size: 1.4em;
  border: none;
  border-radius: 100px;
  padding: 1%;
  // float: right;
}

@media only screen and(min-width: 768px){
  .modals-box {
    background-color: $androidgreen;
    width: 60%;
    margin: 30px auto;
  }

  .btn-sendreport {
    width: 25%;
  }
}
