.user--name{
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.profile--pic{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.succesful_report p{ color: red; }
.already_blocked p{ color: #2e9c4e; }

.header--profile{
    display: block;
    margin-top: 50px;
}

.card-wrap-profile{
    display: block;
    height: auto;
    float: left;
}

.klussjes-wrap-profile{
    display: block;
    margin-top: 50px;
}

.klussjes-wrap-profile h2, .applicants h2{
    display: block;
    margin-left: 15px;
    margin-bottom: 25px;
}

.applicants h2{
    display: block;
}

.card--title-black, .card--description{
    display: block;
    //margin-left: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card--title-black{
    margin-bottom: 15px;
    padding-bottom: 0;
}

.card--description{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 25px;
}

.card-action-profile{
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #2E9C4E;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    transition: all .2s linear;
}

.card-action-profile a{
    color: white;
    font-size: 1.1em;
}

.card-action-profile:hover{
    background-color: #1f6834;
}

.applicant-image{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.table-applicants{
    display: block;
    margin-top: 20px;
}

.profile-history, .profile-reviews{
    display: block;
    margin-bottom: 60px;
}

@media screen and (min-width: 750px){
    .card-wrap-profile{
        display: block;
        height: 600px;
    }
}
