/node_modules
node_modules/*
node_modules/
backup landing 1.0/*
/backup landing 1.0
backup landing 1.0/
node backup/*
node backup/
/node backup
vendor/*
vendor/
/vendor
/Kluss vagrant backup/*
/kluss vagrant backup
Kluss vagrant backup/*
storage/*
/storage
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
backup landing 1.0/
/backup landing 1.0/*
/backup landing 1.0
node backup/
/node backup
node backup/*
.git/
/.git
.git/*
npm-debug.log.*
/public/img/klussjes/kluss-*
.vagrant
.vagrant/*