.users--overview{
    h1, h2{
        width: 100%;
    }
    h2{
        margin-top: 3em;
    }
    .user-div{
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        justify-content: space-between;
        img{
            display: block;
            width: 50px;
            border-radius: 50%;
            height: 50px;
            margin-right: 1em;
        }
        p{
            margin-top: 1em;
            font-size: .9em;
        }
        div{
            display: flex;
            flex-direction: row;
        }
        a{
            text-decoration: none;
            color: $washington;
            border: 1px solid $washington;
            padding: 1em;
            height: 17.5px;
            &:hover{
                background-color: $washington;
                color: white;
            }
        }
    }
}


@media only screen and (min-width: 1000px){
    .users--overview .user-div{
        width: 700px;
    }
}

@media only screen and (min-width: 1200px){
    .users--overview .user-div{
        width: 900px;
    }
}
