body{
    font-family: sans-serif;
}

.bodyimg {
    display: block;
    background-image: url("/assets/img/wasserette.jpg");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 129px);
}

.login-wrapper{
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $washington;
}

.help-block{ margin-top: .5em; display: block; color: red; }
.not_admin{ line-height: 1.1em; color: red;}

.login--form{
    background-color: #fff;
    display: block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    padding-bottom: 0.1em;
    height: 370px;
    margin-bottom: 150px;
}
.login--form img{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    margin-bottom: 2em;
}

.login--form div{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login--form div label{
    display: block;
    width: 100%;
    font-size: .9em;
    margin-bottom: .5em;
    margin-top: 1em;
}

.login--form input{
    display: block;
    width: 100%;
    background-color: #eee;
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    text-indent: 1em;
    font-size: .9em;
}

.admin--login-btn{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: $washington;
    color: white;
    text-transform: uppercase;
    font-size: .9em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    cursor: pointer;
    font-weight: bold;
}

.login--form .btn--link{
    text-decoration: none;
    color: $washington;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: 2em;
}

.btn--link {
    color: $washington;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.admin--login-footer{
    color: white;
    text-align: center;
    margin-top: 2em;
}

.back-to-kluss{
    position: absolute;
    z-index: -5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.logreg--logo {
    background-image: url("/assets/img/logo-klusswit.png");
}

.auth_container {
    background-image: url("/assets/img/wasserette.jpg");

}


@media only screen and (min-width: 400px){
    .login--form{
        width: 80%;
        margin-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .back-to-kluss{
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: white;
        display: block;
        margin-top: .5em;
        margin-left: .5em;
    }
}

@media only screen and (min-width: 400px) and (min-height: 800px){
    .login--form{
        position: absolute;
        top: 50%;
        height: 400px;
        margin-top: -200px;
        left: 0;
        right: 0;
        padding-bottom: 2em;
    }

    .admin--login-footer{
        padding-top: 3em;
    }
}
