$washington: #2e9c4e;
$darkWashington: #1f6834;
$androidgreen: #8bc53f;
$primaryWhite: #FFFFFA;
$generalbg: #f3f3f3;
$raspberry: #911137;
$darkRaspberry: #730d2b;
$notificationsgreen: #EAFDD1;
$darkLiver: #4C4C4B;

// FONTS INLADEN HIER,
@font-face { font-family: "Coolvetica"; src: url('../fonts/coolvetica_rg.ttf'); }
@font-face { font-family: "Lato Bold"; src: url('../fonts/Lato-Bold.ttf'); }
@font-face { font-family: "Lato Italic"; src: url('../fonts/Lato-Italic.ttf'); }
@font-face { font-family: "Lato Light"; src: url('../fonts/Lato-Light.ttf'); }
@font-face { font-family: "Lato Regular"; src: url('../fonts/Lato-Regular.ttf'); }

// HIERBOVEN DUS

a, input[type=submit], input[type=button]{
    font-family: "Coolvetica" !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}

body, html{ background-color: $generalbg !important; }
.page-content{ padding-top: 55px; }
.main-content-wrap{
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: $primaryWhite;
    margin-top: 3em !important;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 10em;
    padding-bottom: 1em;
    position: relative;
}

h1, h2, h3, h4, h5, h6{ font-family: "Coolvetica" !important; }

h1{ font-size: 2em; color: $washington !important; padding-top: .5em; }
h2{ font-size: 1.8em; color: $washington !important; }
h3{ }
h4{ }
h5{ }
h6{ }

.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:hover, .pagination>.active>span:focus{
    color: white !important;
    background-color: $washington !important;
    border-color: $washington !important;
    cursor: default;
}
.pagination>li>a, .pagination>li>span{ color: $washington !important; }
.pagination{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    li a{ width: 100%; }
}

a:hover, a:focus, a:active, a:visited{
    text-decoration: none;
}

.addboxshadow {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, .16);
}

.reset--pass{
    display: block;
    width: 175px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: $washington;
    &:hover{ background-color: $darkWashington;}
    text-decoration: none;
    color: white;
}

.map-wrapperino{
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    #map{
        width: 100%;
        height: 100%;
    }
}


// Viewports

@media only screen and (min-width: 480px){
    .map-wrapperino{
        height: 300px;
    }
}

@media only screen and (min-width: 768px){
    .page-content{min-height: calc(100vh - 215px);}
}

@media only screen and (min-width: 1024px){
    .map-wrapperino{
        height: 450px;
    }
}

@media only screen and (min-width: 1365px){
    .main-content-wrap{ width: 75%; padding-left: 3em; padding-right: 3em;}
}

@media only screen and (min-width: 1520px){
    .map-wrapperino{
        height: 600px;
    }
}
