.sidebar--admin{
    display: block;
    background-color: $darkWashington;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li{
            width: 50%;
            text-align: center;
            padding-top: .5em;
            padding-bottom: .5em;
            a{
                text-decoration: none;
                color: white;
                font-size: .9em;
                text-transform: uppercase;
                font-weight: bold;
                line-height: 1.1em;
                display: block;
                margin-top: .75em;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .sidebar--admin{
        width: 225px;
        height: calc(100vh - 40px);
        position: absolute;
        left: 0;
        top: 40px;
        ul{
            flex-direction: column;
            margin-top: 1em;
            li{
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                text-align: left;
            }
        }
    }
}
