.settings-outer{
    position: relative;
}

.addSettingModal{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $washington;
    text-align: center;
    //padding-top: .2em;
    color: white;
    font-size: 2em;
    font-weight: bold;
    transition: all .2s;
    &:hover{
        color: white;
        text-decoration: none;
        background-color: $darkWashington;
    }
}

.settings-titles{
    display: flex;
    flex-direction: row;
    h6{
        width: 50%;
        font-weight: bold;
        font-size: 1.1em;
        text-transform: uppercase;
        margin-bottom: 1em;
        border-bottom: 2px solid #111111;
    }
}

.settings-div{
    display: flex;
    flex-direction: row;
    background-color: #eee;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: .5em;
    margin-bottom: .75em;
    div{
        width: 50%;
    }
}

.settings-value p{
    margin-bottom: 1em;
}

@media only screen and (min-width: 480px){
    .addSettingModal{
        width: 50px;
        height: 50px;
        padding-top: .2em;
    }
}

@media only screen and (min-width: 768px){
    .settings-outer{
        width: 425px;
    }
}

@media only screen and (min-width: 1024px){
    .settings-outer{
        width: 700px;
    }
}

@media only screen and (min-width: 1365px){
    .settings-outer{
        width: 900px;
    }
}
